@use "../utils.scss" as *;

.products_grid {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  padding-bottom: 1px;

  @include container;

  @media (min-width: $md-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $lg-width) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $xl-width) {
    grid-template-columns: repeat(5, 1fr);
  }

  &__item {
    display: flex;
  }
}