@use "utils.scss";

.app_bar {
  @extend .container;

  min-height: 80px;
  display: flex;
  align-items: center;

  &__cart_counter {
    margin-left: auto;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    &__icon {
      background-image: url('/icons/bag.svg');
      width: 24px;
      height: 25px;
    }

    &--empty {
      .app_bar__cart_counter {
        &__icon {
          background-image: url('/icons/bag_outline.svg');
        }
      }
    }
  }
}