@import "globals.scss";

.app_bar {
  --app-bar-height: 80px;

  min-height: var(--app-bar-height);
  padding: 16px;
  display: flex;
  align-items: center;
  
  @media (min-width: $md-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $lg-width) {
    padding-left: 100px;
    padding-right: 100px;
  }

  &__cart_counter {
    margin-left: auto;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    &__icon {
      background-image: url('/icons/bag.svg');
      width: 24px;
      height: 25px;
    }

    &--empty {
      .app_bar__cart_counter {
        &__icon {
          background-image: url('/icons/bag_outline.svg');
        }
      }
    }
  }
}