@use "utils.scss" as *;

.app_bar {
  margin: 15px 0;
  height: $app-bar-height;
  background-color: #fff;
  display: flex;
  align-items: center;

  @include container;
  @include sticky;

  &__link_logo {
    display: flex;
  }

  &__cart_counter {
    margin-left: auto;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    &__icon {
      background-image: url('/icons/bag.svg');
      width: 24px;
      height: 25px;
    }

    &--empty {
      .app_bar__cart_counter {
        &__icon {
          background-image: url('/icons/bag_outline.svg');
        }
      }
    }
  }
}